body {
  font-size: 100%;
  line-height: 1.5;
  color: var(--text-color-base);
}

* {
  text-decoration: none !important;
}

a {
  transition: all 0.3s linear;
}

.github-corner {
  z-index: 5;
}

/****** Sidebar ******/
.sidebar .app-name-link img {
  height: 150px;
}

.sidebar ul li a:hover {
  color: var(--theme-color);
}

.app-sub-sidebar li:before {
  display: none;
}

.sidebar .search .clear-button {
  cursor: pointer;
}

/****** Sidebar Toggle ******/
.sidebar-toggle {
  cursor: pointer;
}

body .sidebar-toggle {
  background: none;
  top: 1.5rem;
  left: calc(300px + 1.5rem);
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0;
  transition: left 0.25s ease-out;
}

body .sidebar-toggle span {
  background-color: var(--theme-color);
  height: 0.2rem;
  width: 1.5rem;
  position: absolute;
  left: 0;
  margin: 0;
  transform-origin: 0;
  border-radius: 1px;
}

body.close .sidebar-toggle {
  transition: left 0.25s ease-out;
  width: 1.5rem;
  height: 1.5rem;
  left: 1.5rem;
}

body.close .sidebar-toggle span {
  transform-origin: center;
}

body .sidebar-toggle span:nth-child(1) {
  top: 0;
}
body .sidebar-toggle span:nth-child(2) {
  top: 0.5rem;
}
body .sidebar-toggle span:nth-child(3) {
  top: 1rem;
}

.sidebar-toggle:hover {
  opacity: 0.8;
}
.sidebar-toggle .sidebar-toggle-button:hover {
  opacity: 1;
}

@media screen and (max-width: 768px) {
  body .sidebar-toggle {
    left: 1rem;
  }

  body.close .sidebar-toggle {
    left: calc(300px + 1.5rem);
  }
}

/****** Markdown General ******/
.markdown-section {
  padding: 30px 30px 40px;
}

.markdown-section a {
  text-decoration: none;
  border-bottom: 0.1rem solid var(--theme-color);
  transition: all 0.3s ease;
}

.markdown-section a:hover {
  border-color: var(--theme-color-dark);
  color: var(--theme-color-dark);
}

.markdown-section a.anchor {
  border: none;
}

/****** COPY TO CLIPBOARD ******/
.docsify-copy-code-button {
  font-size: 0.7em !important;
}